<h1>Ready for weekend trip? <small>Choose your starting location and date</small></h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Starting Date (prefilled with next weekend)</label>
    <input type="date" class="form-control" id="startDate" value="{{date}}" placeholder="Travel Date">
  </div>
  <div class="form-group">
    <label for="location">Location (prefilled with your location based on IP)</label>
    <input type="text" class="form-control" id="location" value="{{location}}" placeholder="Location">
  </div>
  <button type="submit" class="btn myButton">Ready for TAKE OFF <div id="airplane"></div></button>
</form>