body {
	padding-top: 50px;
	background-color: #FDBB38;
	color: #333333;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}


.node image{
    opacity: .3;
}

.node image:hover {
    opacity: 1;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.loading {
	background-image: url('/images/ajax-loader.gif') !important;
	background-size: 37px 37px;
}

.page1 {
	background-image:url('/images/page1_bagage.png');
	background-repeat: no-repeat;
	background-position:top;
	background-position:left;
	padding-left: 330px;
}

.myButton {
	font-size:36px;
	color: #ffffff !important;
	padding: 15px 20px;
	background-color: #EF5234 !important;
	text-decoration: none;
	}

.myButton:hover {
	background-color: #FF5943 !important;
	color:#ffffff !important;
	text-decoration: none;
}

#airplane {
	background-image: url('/images/airplane.png');
	width: 37px;
	height: 37px;
	top: 8px;
	position: relative;
	left: 10px;
	float: right;
}